<nav data-v-cad5eb62="">
  <ul data-v-cad5eb62="" class="u-list-simple footer__linklist">
    <li data-v-cad5eb62="">
      <a
        data-v-cad5eb62=""
        href="/collections"
        class="footer__linklist-link accent shop-all"
      >
        Shop All
      </a>
    </li>
    </li>
    <li data-v-cad5eb62="">
      <a
        data-v-cad5eb62=""
        href="/products/e-gift-card"
        class="footer__linklist-link accent"
      >
        Gift Cards
      </a>
    </li>
    <li data-v-cad5eb62="">
      <a
        data-v-cad5eb62=""
        href="/blog"
        class="footer__linklist-link accent"
      >
        Blog
      </a>
    </li>
    <li data-v-cad5eb62="">
      <a
        data-v-cad5eb62=""
        href="/pages/contact-us"
        class="footer__linklist-link accent"
      >
        Contact
      </a>
    </li>
    <li data-v-cad5eb62="">
      <a
        data-v-cad5eb62=""
        href="https://cdn.shopify.com/s/files/1/2380/1623/files/Refuge_Hair_Media_Kit_SMALL.pdf?v=1632334693"
        class="footer__linklist-link accent"
      >
        Press Kit
      </a>
    </li>
  </ul>
</nav>
