{% if product.metafields.custom_fields["tabs_headline"] != blank %}
  <div class="custom-field custom-field__tabs-headline custom-field__type--text">
    <h3 class="custom-field--title">Tabs Headline</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["tabs_headline"] }}
    </div>
  </div>
{% endif %}