{% if collection.metafields.custom_fields["alternate_image"] != blank %}
  <div class="custom-field custom-field__alternate-image custom-field__type--image">
    <h3 class="custom-field--title">alternate_image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: collection.metafields.custom_fields["alternate_image"] %}
    </div>
  </div>
{% endif %}