{% if product.metafields.custom_fields["recommended_products"] != blank %}
  <div class="custom-field custom-field__recommended-products custom-field__type--field-collection-json">
    <h3 class="custom-field--title">Recommended Products</h3>
    <div class="custom-field--value">
      {% for item in product.metafields.custom_fields["recommended_products"] %}
        <div class="fc-item fc-index--{{ forloop.index0 }}">
           {% if item["product"] != blank %}
             <div class="fc-field field__product field-type--product-reference">
               <h4 class="custom-field--title">Product</h4>
               <div class="custom-field--value">
                 {{ item["product"] }}
               </div>
             </div>
           {% endif %}
         </div>
       {% endfor %}
    </div>
  </div>
{% endif %}