{%- assign product_form_id = 'product-form-' | append: section.id -%}

<div class="anchor-point">Anchor</div>
<div id="FloatingAdd" class="floating">
  {%- include 'quantity-selector' -%}
  {%- include 'add-to-cart-button' -%}
</div>

<style type="text/css">
  #FloatingAdd {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-content: flex-start;
    align-items: baseline;
    justify-content: space-between;
    height: 0px;
    z-index: 2;
    position: relative;
    margin-bottom: -4px;
  }
  #FloatingAdd .qty-wrapper {
    background-color: white;
    width: inherit;
  }
  #FloatingAdd .button--primary {
    position: relative;
    width: 33%;
    min-width: 320px;
    top: 2px;
  }
  #FloatingAdd.anchored {
    position: fixed;
  }
  #FloatingAdd:not(.anchored) {
    top: 0px !important;
  }
  body.mobile #FloatingAdd {
    display: none;
  }
  .anchor-point { visibility: hidden; }
</style>

<script type="text/javascript">

$(window).ready(function() {
  stickIt();
});
$(window).resize(function() {
  stickIt();
});
function stickIt() {
var a = 120; // top anchor pt
var Ht = $('sticky-header').height() + $('.announcement-bar').height() - 27;
console.log("Sticky Header Ht: " + Ht);

  $(window).on("scroll", function() {
    var apos = $('.anchor-point').position(),
        ap = apos.top - $(window).scrollTop();
        $('#FloatingAdd.anchored').css("top", Ht+"px");

    switch(ap < a) {
      case true:
        $('body:not(.mobile) #FloatingAdd').addClass('anchored');
        break;
      default:
        $('body:not(.mobile) #FloatingAdd').removeClass('anchored');
    };
  });
};// stickIt()
</script>
