<div class="anchor-point">Anchor</div>
<div id="FloatingAdd" class="floating">
  {% comment %} QUANTITY {% endcomment %}
  {%- include 'quantity-selector' -%}

  {% comment %} ADD TO CART BUTTON {% endcomment %}
  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
    <div class="product-form__buttons">
      <button
        type="submit"
        name="add"
        class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
      {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
      >
          <span>
            {%- if product.selected_or_first_available_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </span>
          <div class="loading-overlay__spinner hidden">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
      </button>
      {%- if block.settings.show_dynamic_checkout -%}
        {{ form | payment_button }}
      {%- endif -%}
    </div>
  {%- endform -%}
</div>

<style type="text/css">
  #FloatingAdd {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-content: flex-start;
    align-items: baseline;
    justify-content: space-between;
    height: 0px;
    z-index: 2;
    position: relative;
    margin-bottom: -4px;
  }
  #FloatingAdd .qty-wrapper {
    background-color: white;
    width: inherit;
  }
  #FloatingAdd .button--primary {
    position: relative;
    width: 33%;
    min-width: 320px;
    top: 1px;
  }
  #FloatingAdd.anchored {
    position: fixed;
  }
  #FloatingAdd:not(.anchored) {
    top: 0px !important;
  }
  .anchor-point { visibility: hidden; }
</style>

<script type="text/javascript">
$(window).ready(function() {
  stickIt();
});
$(window).resize(function() {
  stickIt();
});
function stickIt() {
var a = 120; // top anchor pt
var Ht = $('sticky-header').height() + $('.announcement-bar').height() - 14;
console.log("Sticky Header Ht: " + Ht);

  $(window).on("scroll", function() {
    var apos = $('.anchor-point').position(),
        ap = apos.top - $(window).scrollTop();
        $('#FloatingAdd.anchored').css("top", Ht+"px");

    switch(ap < a) {
      case true:
        $('body:not(.mobile) #FloatingAdd').addClass('anchored');
        break;
      default:
        $('body:not(.mobile) #FloatingAdd').removeClass('anchored');
    };
  });
};// stickIt()
</script>
