
<div id="Megamenu" class="megamenu">
  <div class="wrapper">
      {%- include 'sub-nav' -%}
  </div>
</div>

<style rel="stylesheet" type="text/css">
  #Megamenu {
    position: absolute;
    z-index: 5;
    background-color: white;
    width: 100%;
    height: 0px;
    top: 145px;
    overflow: hidden;
  }
  .shopify-section-header-sticky #Megamenu {
    top: 111px;
  }
  #Megamenu .wrapper {
    display: grid;
    grid-template-columns: 33% 66%;
    padding-left: 10%;
  }

  #Megamenu .list-menu--disclosure {
    min-width: 25%;
    border: unset;
    border-right: 1px solid rgba(18,18,18,.3);
  }

</style>

<script src="{{ 'megamenu.js' | asset_url }}" defer="defer"></script>
