
<div id="Megamenu" class="megamenu">
  <div class="wrapper">
      <div class="alt-menu">
        {%- include "alt-menu" -%}
      </div>
      {%- include 'sub-nav' -%}
  </div>
</div>

<style rel="stylesheet" type="text/css">
  #Megamenu {
    position: absolute;
    z-index: 5;
    background-color: white;
    width: 100%;
    height: 0px;
    top: 140px;
    overflow: hidden;
  }
  #Megamenu.active {
    height: 300px !important;
  }
  .shopify-section-header-sticky #Megamenu {
    top: 111px;
  }
  #Megamenu .wrapper {
      display: grid;
      grid-template-columns: 15% 15% 70%;
      max-width: 95%;
      margin: 0 auto;
      padding-left: 10%;
  }

  @media screen and (max-width: 1200px) {
    #Megamenu.active {
      height: 530px !important;
    }
    #Megamenu.active .wrapper {
        display: grid;
        grid-template-columns: unset;
        grid-template-areas: "menu1 menu2"
                             "tnails tnails";
        max-width: 95%;
        margin: 0 auto;
        padding-left: 10%;
    }
    #Megamenu .alt-menu {
      grid-area: menu1;
    }
    #Megamenu ul:not() .submenu{
      grid-area: menu2;
    }
    #Megamenu .megathumb{
      grid-area: tnails;
      margin-top: var(--unit2XL);
    }
    #Megamenu ul:not(#HeaderMenu-MenuList-2) .megathumb{
      grid-area: unset;
      margin-top: var(--unit2XL);
    }

  }

  #Megamenu .wrapper.icons-menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 95%;
      margin: 0 auto;
      padding-left: 0;
  }
  #Megamenu .list-menu--disclosure {
    border: unset;
    margin-right: 2rem;
  }
  #Megamenu .alt-menu {
    min-width: 15%;
    border: unset;
    border-right: 1px solid rgba(18,18,18,.3);
    margin-right: 2rem;
  }
  #Megamenu .list-menu--disclosure {
    border: unset;
    min-width: unset;
  }
  #Megamenu .alt-menu {
    padding-top: 27px;
  }
  #Megamenu .alt-menu a {
    color: rgba(18,18,18,.75);
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(18,18,18,0);
    font-size: 1.1rem;
  }
  #Megamenu .alt-menu a:hover {
    color: rgba(18,18,18,1);
    font-weight: 900;
  }
  #Megamenu .icons-menu .alt-menu {
    display: none;
  }

</style>
