
<div id="ReviewsSwiper" class="swiper-container swiper-container-initialized swiper-container-horizontal">
  <button type="button" class="slider-button slider-button--prev left">{% render 'icon-caret' %}</button>
    <div class="swiper-wrapper">
        <div  class="fifty-quote__slide swiper-slide swiper-slide-active index-1" >
            <div  class="fifty-quote__slide-inner flex flex-column flex-align-center">
                <a  href="/products/hydrate-balance" class="fifty-quote__slide-link">
                    <figure  class="fifty-quote__slide-image"><img  alt="HYDRATE + BALANCE 3-STEP HAIR CARE SYSTEM" data-src="//cdn.shopify.com/s/files/1/2380/1623/files/HBMenu400x400.png?v=1619636298" src="//cdn.shopify.com/s/files/1/2380/1623/files/HBMenu400x400.png?v=1619636298" lazy="loaded"></figure>
                </a>
                <figure  class="fifty-quote__slide-figure flex flex-column flex-align-center color-black"><span  class="fifty-quote__slide-quotemark">“</span>
                    <blockquote  class="fifty-quote__slide-quote">
                        <p>Being a full time model requires a lot of travel which keeps me out of the salon longer than I’d like to be. But thanks to Refuge and their amazing <a href="/products/hydrate-balance" title="HYDRATE + BALANCE 3-STEP HAIR CARE SYSTEM">Hydrate + Balance</a> system, combined with adorable packaging, I’m able to keep my curls hydrated and defined everywhere I go!<br><br><a href="https://www.instagram.com/sagetheworld" target="_blank" title="https://www.instagram.com/sagetheworld">@sagetheworld</a></p>
                    </blockquote><span  class="fifty-quote__slide-quotemark">”</span>
                    <figcaption  class="fifty-quote__slide-caption"><cite  class="fifty-quote__slide-cite">- Sage W</cite></figcaption>
                </figure>
            </div>
        </div>
        <div  class="fifty-quote__slide swiper-slide swiper-slide-next index-2" >
            <div  class="fifty-quote__slide-inner flex flex-column flex-align-center">
                <a  href="/products/nourish-grow" class="fifty-quote__slide-link">
                    <figure  class="fifty-quote__slide-image"><img  alt="NOURISH + GROW 3-STEP HAIR CARE SYSTEM" data-src="//cdn.shopify.com/s/files/1/2380/1623/files/NGMenu400x400.png?v=1619636329" src="//cdn.shopify.com/s/files/1/2380/1623/files/NGMenu400x400.png?v=1619636329" lazy="loaded"></figure>
                </a>
                <figure  class="fifty-quote__slide-figure flex flex-column flex-align-center color-black"><span  class="fifty-quote__slide-quotemark">“</span>
                    <blockquote  class="fifty-quote__slide-quote">
                        <p>It’s my favorite new form of self care! The smell is invigorating, the process is so relaxing, and it leaves my hair so soft and smooth! It’s the only product I trust to repair my dry and damaged locks and it leaves my hair feeling revitalized with that fresh out of the salon look. 10 out of 10 would recommend!<br><br><a href="https://www.instagram.com/jennieleehealth" target="_blank" title="https://www.instagram.com/jennieleehealth">@jennieleehealth</a></p>
                    </blockquote><span  class="fifty-quote__slide-quotemark">”</span>
                    <figcaption  class="fifty-quote__slide-caption"><cite  class="fifty-quote__slide-cite">- Jennie L</cite></figcaption>
                </figure>
            </div>
        </div>
        <div  class="fifty-quote__slide swiper-slide index-3" >
            <div  class="fifty-quote__slide-inner flex flex-column flex-align-center">
                <a  href="/products/repair-protect" class="fifty-quote__slide-link">
                    <figure  class="fifty-quote__slide-image"><img  alt="REPAIR + PROTECT 3-STEP HAIR CARE SYSTEM" data-src="//cdn.shopify.com/s/files/1/2380/1623/files/RPMenu400x400.png?v=1619635910" src="//cdn.shopify.com/s/files/1/2380/1623/files/RPMenu400x400.png?v=1619635910" lazy="loaded"></figure>
                </a>
                <figure  class="fifty-quote__slide-figure flex flex-column flex-align-center color-black"><span  class="fifty-quote__slide-quotemark">“</span>
                    <blockquote  class="fifty-quote__slide-quote">
                        <p>As a bottle blonde, I've put my hair through the worst of the worst. Refuge <a href="/products/repair-protect" title="REPAIR + PROTECT 3-STEP HAIR CARE SYSTEM">Repair + Protect</a> has literally saved my hair.<br><br><a href="https://www.instagram.com/paige_chanell/" target="_blank" title="https://www.instagram.com/paige_chanell/">@paige_chanell </a></p>
                    </blockquote><span  class="fifty-quote__slide-quotemark">”</span>
                    <figcaption  class="fifty-quote__slide-caption"><cite  class="fifty-quote__slide-cite">- Paige C</cite></figcaption>
                </figure>
            </div>
        </div>
        <div  class="fifty-quote__slide swiper-slide index-4" >
            <div  class="fifty-quote__slide-inner flex flex-column flex-align-center">
                <a  href="/products/nourish-grow" class="fifty-quote__slide-link">
                    <figure  class="fifty-quote__slide-image"><img  alt="NOURISH + GROW 3-STEP HAIR CARE SYSTEM" data-src="//cdn.shopify.com/s/files/1/2380/1623/files/NGMenu400x400.png?v=1619636329" src="//cdn.shopify.com/s/files/1/2380/1623/files/NGMenu400x400.png?v=1619636329" lazy="loaded"></figure>
                </a>
                <figure  class="fifty-quote__slide-figure flex flex-column flex-align-center color-black"><span  class="fifty-quote__slide-quotemark">“</span>
                    <blockquote  class="fifty-quote__slide-quote">
                        <p>I don’t typically do hair treatments, however when they smell as amazing as refuge hair does I’ll give it a go. The 3-step system was easy and left my hair shiny, silky smooth and luscious feeling, even days after.<br><br><a href="https://www.instagram.com/whitsa_gram/" target="_blank" title="https://www.instagram.com/whitsa_gram/">@whitsa_gram</a></p>
                    </blockquote><span  class="fifty-quote__slide-quotemark">”</span>
                    <figcaption  class="fifty-quote__slide-caption"><cite  class="fifty-quote__slide-cite">- Whitney G</cite></figcaption>
                </figure>
            </div>
        </div>
    </div>
    <button type="button" class="slider-button slider-button--next right">{% render 'icon-caret' %}</button>
  </div>
  <div id="ReviewsPagination" class="product-gallery__pagination swiper-pagination flex flex-justify-center flex-align-end swiper-pagination-clickable swiper-pagination-bullets">
  </div>
