{%- if section.settings.enable_widget -%}
  <div id= "InstagramWidget" class="shopify-section container">
    <div class="yotpo yotpo-pictures-widget" data-gallery-id="606f57cdd655344f88b46471"></div>
  </div>
  <script type="text/javascript">
      console.log('Yotopo Instagram Widget Script');
  </script>
  <div class="yotpo-instagram">
      <script src="{{ 'yotopo-widget.js' | asset_url }}" async></script>
  </div>
{%- endif -%}




{% schema %}
{
  "name": "Yotpo Instagram Gallery",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_widget",
      "label": "Enable Widget",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Yotpo Instagram Gallery",
      "category": "Instagram Feed"
    }
  ]
}
{% endschema %}
