{%- if section.settings.enable_widget -%}
<div
	class="yotpo yotpo-pictures-widget"
	data-gallery-id="606f57cdd655344f88b46471">
</div>
{%- endif -%}




{% schema %}
{
  "name": "Yotpo Instagram Gallery",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_widget",
      "label": "Enable Widget",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Yotpo Instagram Gallery",
      "category": "Instagram Feed"
    }
  ]
}
{% endschema %}
