@font-face {
    font-family: 'Riviera Nights';
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    src: url("./RivieraNights-Ultralight.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Light.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Medium.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Bold.otf") format("opentype");
}

* {
    font-family: "Riviera Nights",Arial,sans-serif;
    text-decoration: none;
}
body {
    letter-spacing: 0.02rem;
}
.price--large {
  font-size: 1.5rem;
  font-weight: 700;
}
.safety {
  font-size: 1rem;
}
.button {
    display: flex !important;
    max-width: 250px;
}
