@font-face {
    font-family: 'Riviera Nights';
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    src: url("./RivieraNights-Ultralight.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Light.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Medium.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Bold.otf") format("opentype");
}

* {
    font-family: "Riviera Nights",Arial,sans-serif;
    text-decoration: none;
}
body {
    letter-spacing: 0.02rem;
}
.price--large {
  font-size: 1.5rem;
  font-weight: 700;
}
.safety {
  font-size: 1rem;
}
.button {
    display: flex !important;
    max-width: 250px;
}
.gradient {
  background: white;
}
.shopify-section-header-sticky sticky-header .header {
    border-bottom: 1px solid rgba(18,18,18,.75) !important;
}

/* === INELEGANT HACKS === */
#shopify-section-template--14417539498063__cart-items {
  margin-top: 150px;
}

/* ===============================
       MOBILE OPTIMIZATIONS
       USES: body.mobile
       BREAKPOINT: 1100px
   ===============================
*/
body.mobile .announcement-bar__message {
  margin: 0 auto !important;
}
body.mobile .shopify-section-header-sticky .header {
    background-color: white;
    border-bottom: 1px solid rgba(18,18,18,.75);
}
body.mobile .header__icon {
    color: rgba(18,18,18, .75);
    border-bottom: unset;
    height: 4.4rem;
    width: 4.4rem;
    top: 2px;
    position: relative !important;
}
body.mobile #shopify-section-header {
  position: fixed !important;
}
body.mobile #shopify-section-header.shopify-section-header-sticky .header__icon {
  color: rgba(18,18,18,.75);
}
body.mobile .announcement-bar__message {
    font-size: 1rem;
}
body.mobile .announcement-bar .header__icon {
  color: white !important;
  top: unset;
  position: unset !important;
}
body.mobile #shopify-section-header:not(.shopify-section-header-sticky) .header {
  border-bottom: 1px solid transparent !important;
}
body.mobile #shopify-section-header:not(.shopify-section-header-sticky) {
    width: 100%;
    margin-top: 30px;
}
body.mobile #shopify-section-header.shopify-section-header-sticky {
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid rgb(18,18,18) !important;
}
body.mobile #shopify-section-header.shopify-section-header-sticky.shopify-section-header-hidden {
  margin-top: -10px;
  transition: transform 0.25s ease;
}
body.mobile .header {
    grid-template-columns: 10% 90%;
    justify-content: flex-start;
    align-items: middle;
}
body.mobile header-drawer {
  display: block;
}
body.mobile nav.header__inline-menu {
  display: none;
}
body.mobile .menu-drawer__inner-container {
  background-color: rgb(255,255,255);
}
body.mobile .header__heading, .header__heading-link {
    grid-area: heading;
    justify-self: flex-start;
}
body.mobile .modal__content {
    background: transparent;
    top: 0px;
    left: unset;
    right: 10px;
    width: var(--scale-element);
}
body.mobile .modal__content * {
  transform: scale(.99);
}
body.mobile .logo.link--text {
    padding-bottom: unset;
    border-bottom: unset;
    top: -11px;
}
body.mobile .collection-hero--with-image .collection-hero__title {
    top: 18vh;
    left: unset;
    text-align: center;
    width: 100%;
}
body.mobile .grid {
    justify-content: center;
}
body.mobile .product__info-container > * + * {
    margin: 1.5rem auto;
}
body.mobile .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media,
body.mobile .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 55rem;
}
body.mobile .banner--mobile-bottom:not(.banner--stacked) .banner__content {
    order: 2;
    margin-top: -100%;
}
body.mobile .banner__box {
    padding: 4rem 5rem;
    max-width: 95%;
    min-width: 20rem;
}
body.mobile .banner__buttons {
    justify-content: center;
}
body.mobile .multicolumn-card.reviews {
    display: flex;
    grid-template-rows: unset;
    flex-direction: column-reverse;
}
body.mobile slider-component.home-slider .grid--2-col .grid__item {
    width: 100%;
    max-width: unset;
}
body.mobile slider-component.home-slider .grid {
    flex-wrap: nowrap;
}

body.mobile slider-component.home-slider .card-title {
  font-size: 2rem;
}
