@font-face {
    font-family: 'Riviera Nights';
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    src: url("./RivieraNights-Ultralight.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Light.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Medium.otf") format("opentype");
}
@font-face {
    font-family: 'Riviera Nights';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("./RivieraNights-Bold.otf") format("opentype");
}
html {
  font-size: 12.3px;
}

* {
    font-family: "Riviera Nights",Arial,sans-serif;
    text-decoration: none;
}
body {
    letter-spacing: 0.02rem;
}
.price--large {
  font-size: 1.5rem;
  font-weight: 700;
}
.safety {
  font-size: 1rem;
}
.button {
    display: flex !important;
    max-width: 250px;
}
.gradient {
  background: white;
}
.shopify-section-header-sticky sticky-header .header {
    border-bottom: 1px solid rgba(18,18,18,.75) !important;
}

/* === INELEGANT HACKS === */
#shopify-section-template--14417539498063__cart-items {
  /* margin-top: 150px; */
}

.is-empty .cart__empty-text, .is-empty .cart__warnings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===============================
       MOBILE OPTIMIZATIONS
       USES: body.mobile
       BREAKPOINT: 1100px
   ===============================
*/


body.mobile .collection-hero--with-image .collection-hero__title {
    top: 18vh;
    left: unset;
    text-align: center;
    width: 100%;
}
body.mobile.tablet .collection-hero--with-image .collection-hero__title {
    left: 0px;
    margin-top: var(--unit);
}
body.mobile .product__info-container > * + * {
    margin: 1.5rem auto;
}
body.mobile .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media,
body.mobile .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 55rem;
}
body.mobile .banner--mobile-bottom:not(.banner--stacked) .banner__content {
    order: 2;
    margin-top: -100%;
}
@media screen and ( max-width: 1100px ) {
  body.mobile .banner--mobile-bottom:not(.banner--stacked) .banner__content {
      margin-top: unset;
  }
}
@media screen and ( max-width: 768px ) {
  body.mobile .banner--mobile-bottom:not(.banner--stacked) .banner__content {
      margin-top: -195%;
  }
  body.mobile.tablet .banner--mobile-bottom:not(.banner--stacked) .banner__content {
     margin-top: unset;
  }
}
body.mobile .banner__box {
    padding: 4rem 5rem;
    max-width: 95%;
    min-width: 20rem;
    top: 2rem;
}
@media screen and (min-width: 520px) {
  body.mobile .banner--medium:not(.banner--adapt) {
    min-height: 52vh;
  }
  body.mobile.tablet .banner--medium:not(.banner--adapt) {
    min-height: 60vh;
  }
  body.mobile .banner__box {
      top: -5rem;
      text-shadow: 0 0 3px black;
  }
  body.mobile .banner__box .button--primary {
    text-shadow: 0 0 3px transparent;
  }
}
body.page.mobile .banner__box {
    padding: 4rem 3rem;
    top: 17rem;
}
body.page.mobile .banner__box h2 {
    font-size: 2rem;
}
body.mobile .banner__buttons {
    justify-content: center;
}
body.mobile .multicolumn-card.reviews {
    display: flex;
    grid-template-rows: unset;
    flex-direction: column-reverse;
}
body.mobile slider-component.home-slider .grid--2-col .grid__item {
    width: 100%;
    max-width: unset;
}
/*
body.mobile slider-component.home-slider .grid {
    flex-wrap: nowrap;
    flex-direction: row;
}*/
body.mobile slider-component.home-slider .card-wrapper {
  align-content: center;
}

body.mobile slider-component.home-slider .card-title {
    font-size: 1.2rem;
}
body.mobile .home-slider > .product-grid .grid__item {
    flex: 0 0 90vw;
}

@media screen and (max-width: 1100px) {
  .cart-count-bubble {
    left: unset;
  }
}

body.page #MainContent, body.login #MainContent {
    margin-top: 15rem;
    margin-bottom: 5rem;
}
body.page.mobile #MainContent {
    margin-top: calc(6rem - 5px);
}

body.page #MainContent .rte span,
body.page #MainContent .rte a,
body.page #MainContent button
{
    font-size: 1.2rem;
}
body.page.mobile #MainContent .rte span,
body.page.mobile #MainContent .rte a
{
    font-size: 1.1rem;
}
body.page #MainContent .contact__button
{
    margin-top: 0;
}
body.page #MainContent button
{
    letter-spacing: .5px;
    width: 100%;
    max-width: unset;
}
body.page #MainContent .rte a
{
  text-decoration: underline;
}

body.contact-us {
  background-color: #F6F5F2 !important;
}
body.contact-us div#shopify-section-header:not(.shopify-section-header-sticky) .header:not(.active) {
    background-color: white !important;
}

body.contact-us #MainContent {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    padding-top: var(--unit2XL);
    margin-bottom: calc(5rem - 8px);
}

body.contact-us.mobile #MainContent {
    margin-top: 0px;
}

body.contact-us #MainContent h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.6rem;
}

body.contact-us #MainContent section {
    display: flex;
    flex-direction: column;
}

body.contact-us #MainContent section:last-child {
    flex-direction: row;
}

body.contact-us.mobile #MainContent section:last-child {
    flex-direction: column-reverse;
}
body.contact-us #MainContent section:first-child {
    width: 50%;
    padding-left: 5%;
    margin-bottom: -114px;
}
body.contact-us.mobile #MainContent section:first-child {
    margin-bottom: 0px;
}
body.contact-us #MainContent .col1 {
   width: 50%;
   padding-left: 5%;
}
body.contact-us.mobile #MainContent section:first-child {
    width: 93%;
    padding-left: 5%;
    margin-bottom: 0px;
}
body.contact-us.mobile #MainContent .col1 {
   width: 93%;
   padding-left: 5%;
}
body.contact-us #MainContent .col1 form {
    width: 100%;
    max-width: unset;
    padding-left: unset;
    padding-top: 100px;
}
body.contact-us.mobile #MainContent .col1 form {
    padding-top: 0px;
}
body.contact-us #MainContent .col2 {
    width: 50%;
    overflow: hidden;
    margin-top: -61px;
    padding-left: var(--unit2XL);
}
body.contact-us.mobile #MainContent .col2 {
    width: 89%;
    margin-top: 10px;
}
body.contact-us #MainContent .col2 img {
    width: 100%;
    height: 100%;
    position: relative;
  }

body.contact-us input.field__input {
    border-bottom: 0.5px solid rgba(18, 18, 18, .7);
    border-radius: 0;
    color: rgb(var(--color-foreground));
    font-size: 1.5rem;
    width: 100%;
    box-shadow: unset;
}
body.contact-us .contact-form .text-area.field__input {
  border: 0.5px solid rgba(18, 18, 18, .7);
  border-radius: 0;
  color: rgb(var(--color-foreground));
  font-size: 1.5rem;
  width: 100%;
  box-shadow: unset;
}
body.contact-us .contact-form label.field__label {
    left: unset;
    font-size: 1.1rem;
}
body.contact-us .contact-form .text-area.field__input + label {
    left: var(--unit);
}
body.mobile.article,
body.mobile.blog
{
    color: rgba(18,18,18,0.7);
}
body.collection .collection-product-card {
    margin: var(--unit);
    flex: 1;
    justify-content: space-between;
    min-width: 320px;
    max-width: 350px;
}
body.tablet.collection .collection-product-card {
    max-width: unset;
}
body.contact-us footer {
    padding-top: var(--unit2XL);
}
body.collection ul#product-grid {
    margin-bottom: 5rem;
    max-width: 1300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
body.collection .ping-pong ul#product-grid {
    max-width: unset;
}

/* BLOG */
body.article h3 {
  font-size: 2rem;
  line-height: 2.125rem;
}


body.article b {
	color: black;  
}

/* LANDING PAGES */
body.page .banner {
  margin-top: -5.3rem;
  margin-bottom: var(--unit2XL);
}

body.page .rich-text {
  font-size: 1.4rem;
}
