body.menu-open {
  overflow-x: hidden;
  overflow-y: hidden;
}

.header__icon--menu {
  position: initial;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 100%;
  width: calc(100vw - 4rem);
  padding: 0;
  border-left: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 5px 5px 5px rgba(18,18,18,.5);
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height: calc(
    var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
  );
}
body.mobile .menu-drawer {
  height: calc(86vh - 100%);
  height: calc(
    var(--viewport-height, 86vh) - (var(--header-bottom-position, 86%))
  );
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease !important;
    transform: translateX(0);
    visibility: visible;
}
/*
body.mobile details[open]::before {
    content: " ";
    width: 100vh;
    height: 100vh;
    display: block;
    background-color: rgba(18,18,18,.5);
    position: fixed;
    top: 84px;
    left: 0px;
    z-index: 1;
}
*/

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 86% 14%;
    background-color: #eadfda !important;
}

body.mobile .alt-menu {
  background-color: white;
  font-size: 1.2rem;
  border-top: 1px solid rgba(18,18,18,.4);
  padding-top: 2rem;
}
body.mobile .alt-menu a {
  color: rgba(18,18,18,0.7);
  padding-bottom: 24px;
  display: inline-block;
}
body.mobile .alt-menu a.shop-all {
  display: none;
}

.menu-drawer__navigation-container {
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: start;
    overflow-y: auto;
    height: 100%;
    background-color: white;
}

.menu-drawer__navigation {
    padding: 2rem 2rem 0 2rem;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-drawer__inner-submenu .list-menu .link--text,
.menu-drawer__inner-submenu .list-menu__item.link {
    color: rgba(255,255,255,1);
    font-weight: 400 !important;
    padding-bottom: 38px;
    padding-left: 2rem;
    border-bottom: 2px solid rgba(18,18,18,0);
    font-size: 1rem;
}

details[open] .menu-drawer__inner-submenu > button {
  display: none;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  padding: 1.1rem 3.2rem;
  text-decoration: none;
  font-size: 1.8rem;
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 5.2rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground), 0.08);
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  position: relative;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  border-left: 0.1rem solid rgba(var(--color-foreground), 0.2);
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}

.menu-drawer__utility-links {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-drawer__account {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 0 0 3rem 0;
    color: rgb(var(--color-foreground));
    border-bottom: none;
}

.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-end;
  height: fit-content;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 0 1.25rem 0 1.25rem;
}

.menu-drawer-container {
  display: flex;
}
.menu-drawer-container ul {
  list-style-type: none;
}
.menu-drawer__navigation-container {
    grid-template-rows: 20% 71%;
}
.menu-drawer__utility-links {
    padding-top: 0;
    position: absolute;
    bottom: -2%;
    width: 100%;
    z-index: 10;
}
.menu-drawer__utility-links a {
  font-size: 1rem;
}
.menu-drawer__heading {
    background-image: url('https://cdn.shopify.com/s/files/1/2380/1623/files/MenuBannerMobile.jpg?v=1648654772');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
