header-drawer {
  justify-self: start;
  margin-left: -1.2rem;
}

@media screen and (min-width: 990px) {
  header-drawer {
    display: none;
  }
  .header {
      padding-top: 4rem;
  }
}


#MainContent {
  margin-top: -1px;
}
body.cart #MainContent {
  margin-top: 15rem;
}
body.mobile.cart #MainContent {
  margin-top: unset;
  position: relative;
  padding-top: 3;
  z-index: 1;
}
.header {
  align-items: baseline;
}
.header__inline-menu {
    width: unset !important;
    grid-area: a2;
}
.header__menu-item {
  padding: 1.2rem;
  text-decoration: none;
}

@media screen and (max-width: 1350px) {
  .header__menu-item {
    padding: 1.2rem 1.5rem;
  }
}
@media screen and (max-width: 1250px) {
  .header__menu-item {
    padding: 1.2rem 1rem;
  }
}

.header__menu-item span {
  text-transform: uppercase;
  text-decoration: none;
}

.header {
    margin-bottom: -10%;
    border-bottom: 1px solid transparent;
    padding-bottom: 0px;
    display: grid;
    grid-template-areas: 'a1 a2 a3';
    grid-template-columns: auto auto 1fr;
    align-items: center;
  }
  body.page .header,
  body.login .header,
  body.cart .header {
      border-bottom: 1px solid rgba(18,18,18,0.7) !important;
    }
  body.product .header {
    margin-top: -10px;
  }
}


body.page .main-page-template,
body.login .main-page-template,
body.blog #MainContent,
body.login #MainContent,
body.article #MainContent {
  font-size: 1.1rem;
}

.contact-form .field  {
  border: none;
}
.contact-form .field__label {
    left: 1rem;
    font-size: 1.1rem;
}

.contact-form .field input {
  font-size: 1.1rem;
}
.contact-form .text-area {
    padding: 1rem;
    min-height: 8rem;
    resize: none;
}

body.mobile .contact-form {
  margin-top: 2rem;
}

.header.page-width {
  padding: 4rem var(--unit2XL) 0 var(--unit2XL);
}
body.collection:not(.mobile) .header.page-width {
  padding: 40px var(--unit2XL) 0 var(--unit2XL);
}

.header:hover {
    background-color: rgba(255,255,255,1) !important;
    border-bottom: 1px solid rgba(18,18,18,.7);
}
.header.active  {
  background-color: white !important;
}
.header__heading {
    grid-area: a1;
}
.header__icon {
    color: rgba(255,255,255,1);
}
body.mobile .header__icon {
    color: rgba(18,18,18,1);
}
.header:hover .header__icon {
    color: rgba(18,18,18,1);
}

.field__label, .customer .field label {
    font-size: 1.2rem;
    /* top: 2.4rem; */
    font-weight: 300;
}
.search-modal__content {
    position: relative;
}
div#shopify-section-header {
    margin-top: 30px;
}
div#shopify-section-header * {
    transition: all 0.1s ease;
}

.product-page a.menu-link:visited, .product-page a.menu-link span,
.contact-us a.menu-link:visited, .contact-us a.menu-link span {
  color: rgba(18,18,18,.75);
}

div#shopify-section-header .color-background-1,
div#shopify-section-header .field__input,
div#shopify-section-header .field__label,
div#shopify-section-header .link--text:hover,
div#shopify-section-header .predictive-search__item.link--text,
div#shopify-section-header .search__button .icon
{
    color: rgb(255,255,255);
  	border: none;
}
body:not(.mobile) div#shopify-section-header .header:hover .color-background-1,
body:not(.mobile) div#shopify-section-header .header:hover .field__input,
body:not(.mobile) div#shopify-section-header .header:hover .field__label,
body:not(.mobile) div#shopify-section-header .header:hover .link--text:hover,
body:not(.mobile) div#shopify-section-header .header:hover .predictive-search__item.link--text,
body:not(.mobile) div#shopify-section-header .header:hover .search__button .icon,
body:not(.mobile) header.dark div#shopify-section-header .header:hover .search__button .icon,
body:not(.mobile) header.dark div#shopify-section-header .color-background-1,
body:not(.mobile) header.dark div#shopify-section-header .field__input,
body:not(.mobile) header.dark div#shopify-section-header .field__label,
body:not(.mobile) header.dark div#shopify-section-header .link--text:hover,
body:not(.mobile) header.dark div#shopify-section-header .header:hover .predictive-search__item.link--text,
body:not(.mobile) header.dark div#shopify-section-header .header:hover .search__button .icon,
body:not(.mobile) header.dark div#shopify-section-header .field__button .icon,
body:not(.mobile) div#shopify-section-header .search-modal.dark .header:hover .search__button .icon,
body:not(.mobile) div#shopify-section-header .search-modal.dark .color-background-1,
body:not(.mobile) div#shopify-section-header .search-modal.dark .field__input,
body:not(.mobile) div#shopify-section-header .search-modal.dark .field__label,
body:not(.mobile) div#shopify-section-header .search-modal.dark .link--text:hover,
body:not(.mobile) div#shopify-section-header .search-modal.dark .header:hover .predictive-search__item.link--text,
body:not(.mobile) div#shopify-section-header .search-modal.dark .header:hover .search__button .icon,
body:not(.mobile) div#shopify-section-header .search-modal.dark .field__button .icon {
  color: rgba(18,18,18,1) !important;
}

div#shopify-section-header .search-modal.dark,
body.product-page .search-modal {
  border-bottom: 0.1rem solid rgba(18,18,18,.5) !important;
}
body.login .search-modal {
  border-bottom: 0.1rem solid rgba(18,18,18,.5) !important;
}
body.mobile .search-modal {
  border-bottom: 0.1rem solid white !important;
}

div#shopify-section-header .header.active .color-background-1,
div#shopify-section-header .header.active .field__input,
div#shopify-section-header .header.active .field__label,
div#shopify-section-header .header.active .link--text:hover,
div#shopify-section-header .header.active .predictive-search__item.link--text,
div#shopify-section-header .header.active .search__button .icon,
div#shopify-section-header.shopify-section-header-sticky .color-background-1,
div#shopify-section-header.shopify-section-header-sticky .field__input,
div#shopify-section-header.shopify-section-header-sticky .field__label,
div#shopify-section-header.shopify-section-header-sticky .link--text:hover,
div#shopify-section-header.shopify-section-header-sticky .predictive-search__item.link--text,
div#shopify-section-header.shopify-section-header-sticky .search__button .icon {
  color: rgba(18,18,18,0.5) !important;
}

body.mobile .menu-drawer__heading .field__input {
  color: white !important;
}
body.mobile div#shopify-section-header .color-background-1,
body.mobile div#shopify-section-header .field__input,
body.mobile div#shopify-section-header .field__label,
body.mobile div#shopify-section-header .predictive-search__item.link--text:hover,
body.mobile div#shopify-section-header .predictive-search__item.link--text,
body.mobile div#shopify-section-header .search__button .icon
body.mobile div#shopify-section-header.shopify-section-header-sticky  .color-background-1,
body.mobile div#shopify-section-header.shopify-section-header-sticky  .field__input,
body.mobile div#shopify-section-header.shopify-section-header-sticky  .field__label,
body.mobile div#shopify-section-header.shopify-section-header-sticky  .predictive-search__item.link--text:hover,
body.mobile div#shopify-section-header.shopify-section-header-sticky  .predictive-search__item.link--text,
body.mobile div#shopify-section-header.shopify-section-header-sticky  .search__button .icon
{
    color: rgb(255,255,255) !important;
}

body.product-page .search-modal .header:hover .search__button .icon,
body.product-page .search-modal .color-background-1,
body.product-page .search-modal .field__input,
body.product-page .search-modal .field__label,
body.product-page .search-modal .link--text:hover,
body.product-page .search-modal .header:hover .predictive-search__item.link--text,
body.product-page .search-modal .header:hover .search__button .icon,
body.product-page .search-modal .field__button .icon {
  color: rgba(18,18,18,1) !important;
}
body.page .search-modal .header:hover .search__button .icon,
body.page .search-modal .color-background-1,
body.page .search-modal .field__input,
body.page .search-modal .field__label,
body.page .search-modal .link--text:hover,
body.page .search-modal .header:hover .predictive-search__item.link--text,
body.page .search-modal .header:hover .search__button .icon,
body.page .search-modal .field__button .icon {
  color: rgba(18,18,18,1) !important;
}
body.login .search-modal .header:hover .search__button .icon,
body.login .search-modal .color-background-1,
body.login .search-modal .field__input,
body.login .search-modal .field__label,
body.login .search-modal .link--text:hover,
body.login .search-modal .header:hover .predictive-search__item.link--text,
body.login .search-modal .header:hover .search__button .icon,
body.login .search-modal .field__button .icon {
  color: rgba(18,18,18,1) !important;
}
body.blog .search-modal .header:hover .search__button .icon,
body.blog .search-modal .color-background-1,
body.blog .search-modal .field__input,
body.blog .search-modal .field__label,
body.blog .search-modal .link--text:hover,
body.blog .search-modal .header:hover .predictive-search__item.link--text,
body.blog .search-modal .header:hover .search__button .icon,
body.blog .search-modal .field__button .icon {
  color: rgba(18,18,18,1) !important;
}
body.article .search-modal .header:hover .search__button .icon,
body.article .search-modal .color-background-1,
body.article .search-modal .field__input,
body.article .search-modal .field__label,
body.article .search-modal .link--text:hover,
body.article .search-modal .header:hover .predictive-search__item.link--text,
body.article .search-modal .header:hover .search__button .icon,
body.article .search-modal .field__button .icon {
  color: rgba(18,18,18,1) !important;
}
body.cart .search-modal .header:hover .search__button .icon,
body.cart .search-modal .color-background-1,
body.cart .search-modal .field__input,
body.cart .search-modal .field__label,
body.cart .search-modal .link--text:hover,
body.cart .search-modal .header:hover .predictive-search__item.link--text,
body.cart .search-modal .header:hover .search__button .icon,
body.cart .search-modal .field__button .icon {
  color: rgba(18,18,18,1) !important;
}


div#shopify-section-header:not(.shopify-section-header-sticky) .header-wrapper.gradient {
  background-color: transparent;
}

.shopify-section-header-sticky {
  top: 30px;
  z-index: 6;
}
sticky-header:not(.shopify-section-header-sticky) {
  z-index: 6;
}
.shopify-section-header-sticky .header {
  background-color: transparent;
}

div#shopify-section-header:not(.shopify-section-header-sticky) .header:not(.active) {
  background-color: transparent !important;
}

div#shopify-section-header.dark:not(.shopify-section-header-sticky) .header:not(.active) {
  background-color: rgba(18,18,18,.8) !important;
}

body.article div#shopify-section-header:not(.shopify-section-header-sticky) .header:not(.active){
    background-color: rgba(255,255,255,0.5) !important;
}


div#shopify-section-header:not(.shopify-section-header-sticky) .header:not(.active):hover
{
  background-color: white !important;
}
.shopify-section-header-sticky .header .link--text {
  color: rgba(18,18,18,1);
}
.shopify-section-header-sticky .header .link--text:hover {
  color: unset;
}
.shopify-section-header-sticky .header .link--text span:hover {
  color: rgba(18,18,18,.6);
}

#shopify-section-announcement-bar {
  position: fixed;
  width: 100vw;
}
body.cart #shopify-section-announcement-bar {
  margin-top: -30px;
  z-index: 10;
}

@media screen and (min-width: 750px) {
  .list-menu__item--link {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}

.svg-logo {
    height: auto;
    width: 100px;
}
div#shopify-section-header:not(.shopify-section-header-sticky) .menu-link span {
    color: white;
}

body.cart div#shopify-section-header:not(.shopify-section-header-sticky) .menu-link span {
    color: rgba(18,18,18,1);
}
body.login div#shopify-section-header:not(.shopify-section-header-sticky) .menu-link span {
    color: rgba(18,18,18,1);
}

.shopify-section-header-sticky .list-menu .link--text,
.shopify-section-header-sticky .list-menu__item.link,
li.dark .list-menu .link--text,
li.dark .list-menu__item.link,
body.product-page .list-menu .link--text,
body.product-page .list-menu__item.link,
body.blog .list-menu .link--text,
body.blog .list-menu__item.link,
body.blog .list-menu__item.link .menu-link,
body.blog .list-menu__item span,
body.article .list-menu .link--text,
body.article .list-menu__item.link,
body.page .list-menu .link--text,
body.page .list-menu__item.link,
body.page .list-menu__item.link .menu-link,
body.page .list-menu__item span,
body.login .list-menu .link--text,
body.login .list-menu__item.link,
body.cart .list-menu .link--text,
body.cart .list-menu__item.link,
div#shopify-section-header.shopify-section-header-sticky .header .menu-link span,
body.product-page div#shopify-section-header:not(.shopify-section-header-sticky) .header .menu-link span,
.header:hover .menu-link span,
.header.active .menu-link span,
div#shopify-section-header:not(.shopify-section-header-sticky) .header:hover .menu-link span,
div#shopify-section-header:not(.shopify-section-header-sticky) .header.active .menu-link span {
    color: rgba(18,18,18,1) !important;
}

.logo.link--text {
    grid-area: a1;
    justify-self: left;
    color: rgb(255,255,255);
    border-bottom: 2px solid rgba(18,18,18,0);
    padding-bottom: 36px;
    position: relative;
}


header.dark .logo.link--text,
body.product-page .logo.link--text,
body.cart .logo.link--text,
body.page .logo.link--text,
body.login .logo.link--text,
body.article .logo.link--text,
body.blog .logo.link--text,
body.mobile .logo.link--text
{
   color: rgba(18,18,18,1) !important;
}

header.dark .list-menu .link--text {
    color: rgba(18,18,18,1);
}
header.dark .logo.link--text {
    color: rgba(18,18,18,1) !important;
}
.header:hover .link--text, .header.active .link--text,
.header:hover .list-menu__item.link, .header.active .list-menu__item.link {
    color: rgb(18,18,18) !important;
}
.header:hover .link--text:not(.logo):hover,
.header.active .link--text:not(.logo):hover,
.header:hover .list-menu__item.link:hover,
.header.active .list-menu__item.link:hover
 {
    border-bottom: 2px solid rgba(18,18,18,1);
}
.header__menu-item:hover span, .header__menu-item.link--text:hover {
  text-decoration: none;
}
.header:hover .header__menu-item:hover span,
.header:hover .header__menu-item.link--text:hover .header__active-menu-item,
header.dark .header__active-menu-item  {
    color: rgba(18,18,18,.8);
}


/* ===============================
       MOBILE OPTIMIZATIONS
       USES: body.mobile
       BREAKPOINT: 1100px
   ===============================
*/
body.mobile .announcement-bar__message {
  margin: 0 auto !important;
  font-size: 1rem;
}
body.mobile .shopify-section-header-sticky .header {
    background-color: white;
    border-bottom: 1px solid rgba(18,18,18,.75);
}
body.mobile .header__icon {
    border-bottom: unset;
    height: 4.4rem;
    width: 4.4rem;
    top: 2px;
    position: relative !important;
}
body.page .header .header__icon,
body.login .header .header__icon,
body.blog .header .header__icon,
body.login .header .header__icon,
body.product .header .header__icon,
body.article .header .header__icon
{
    color: rgba(18,18,18,0.7);
}
body.mobile:not(.page),
body.mobile:not(.article),
body.mobile:not(.blog),
{
    color: white;
}
body.mobile.product-page {
    color: rgba(18,18,18,.75);
}
body.cart {
    color: rgba(18,18,18,.75);
}
body.login {
    color: rgba(18,18,18,.75);
}
body.mobile #shopify-section-header.shopify-section-header-sticky .header__icon {
  color: rgba(18,18,18,.75);
}
body.mobile .announcement-bar .header__icon {
  color: white !important;
  top: unset;
  position: unset !important;
}
body.mobile #shopify-section-header:not(.shopify-section-header-sticky) .header {
  border-bottom: 1px solid transparent !important;
}
body.mobile #shopify-section-header:not(.shopify-section-header-sticky) {
    width: 100%;
}
body.mobile #shopify-section-header.shopify-section-header-sticky {
    width: 100%;
    margin-top: 0px;
    border-bottom: 1px solid rgb(18,18,18) !important;
}
body.mobile #shopify-section-header.shopify-section-header-sticky.shopify-section-header-hidden {
  margin-top: -40px;
  transition: margin-top 0.25s ease;
}
body.mobile .header {
    grid-template-areas: 'a1 a2 a3'
        'nav nav nav';
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto 0%;
    align-items: center;
    padding: 0;
    max-width: 100vw;
    margin: 0;
}
body.mobile header-drawer {
  display: block;
  grid-area: a3;
  justify-self: right;
  margin-right: 1.5rem;
}
body.mobile .menu-drawer__inner-container {
  background-color: rgb(255,255,255);
}
body.mobile .announcement-bar #Icons {
  display: none;
}
body.mobile  .announcement-bar__message {
  max-width: unset;
  width: 100%;
  text-align: center;
  padding: 0.6rem 0;
}
body.mobile .announcement-bar {
  display: flex;
  align-items: center;
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
body.mobile sticky-header .search-modal {
  display: none;
}
body.mobile sticky-header .menu-drawer__heading .search-modal {
  display: block;
}
body.mobile .header__heading, .header__heading-link {
    grid-area: a2;
    justify-self: center;
    margin-top: 8px;
}
body.mobile .modal__content {
    background: transparent;
    bottom: 0;
    left: unset;
    width: 250px;
    margin: 0 auto;
    position: relative;
}
body.mobile .logo.link--text {
    padding-bottom: unset;
    border-bottom: unset;
    top: -5px;
    grid-area: a2;
    justify-self: center;
}
body.mobile .link {
  padding-left: 0;
}
body.mobile .product-grid.negative-margin {
    margin-bottom: unset;
}
