.yotpo .promoted-products-box .promoted-products .yotpo-promoted-product .yotpo-review-stars .yotpo-icon {
    font-size: 12px;
    width: 14px !important;
}

.yotpo .promoted-products-box .promoted-products .yotpo-promoted-product .yotpo-review-stars {
    width: 75%;
}